.alert-success{
    background: #CEF5C1;
    position: absolute;
    width: 100%;
    top: 65px;
    right: 0;
    padding: 15px;
    text-align: center;
}
.alert-danger{
    background: #F5C1C1;
    position: absolute;
    width: 100%;
    top: 65px;
    right: 0;
    padding: 15px;
    text-align: center;
}